# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Build
target/
dist/
build/
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment & Secrets
.env
application-local.yml
application-prod.yml
backend/src/main/resources/application.yml
# Dependencies
node_modules/

# Docker
*.jar